<div class="container">
  <section *ngFor="let x of [].constructor(2); index as j">
    <div
      *ngFor="let x of [].constructor(10); index as i"
      [ngClass]="{
        bien:
          respuestas.get(tablas[j])[i + 1] &&
          respuestas.get(tablas[j])[i + 1] == tablas[j] * (i + 1),
        mal:
          respuestas.get(tablas[j])[i + 1] &&
          respuestas.get(tablas[j])[i + 1] != tablas[j] * (i + 1)
      }"
    >
      {{ tablas[j] }} X {{ i + 1 }} =
      <input (keyup)="unaRespuesta(tablas[j], i + 1, $event)" />
    </div>
  </section>
</div>
